
<div>
    {{#each Characters}}
    <divclass="char-block">
  <h2>{{name}}</h2>
  <p>{{race}}</p> <p>{{class}}</p> <p>{{Alignment}}</p>
  
  <p class="ab-score">STR: {{STRENGTH}}</p>
  <p class="ab-score">DEX: {{DEXTERITY}}</p>
  <p class="ab-score">CON: {{CONSTITUTION}}</p>
  <p class="ab-score">INT: {{INTEllIGENCE}}</p>
  <p class="ab-score">WIS: {{WISDOM}}</p>
  <p class="ab-score">CHA: {{CHARISMA}}</p>
  {{/each}}
  </div>
</div>
